<% include ../partials/boilerplate %>
<div class="form">
  <div class="add">
  
  <form action="/locations/<%= location.locations_id %>?_method=PUT" method="POST">
    Country 
    <select name="locations_id">
      <% locations.forEach((location) => { %>
        <option value="<%= location.locations_id %>"><%= location.cname %></option>
      <% }) %>
    </select> <br>
    Edit Country Name 
    <input type="text" name="cname" value="<%= location.cname %>" /><br>

    <input type="submit" value="Add edited country with new name" />
  </form>

  </div>
<a href="/locations"> Back to Locations </a>
</div>
<% include ../partials/end %>
