<% include ../partials/boilerplate %>
<h1>ALL COUNTRIES</h1>
<div class="locations-list">

  <% locations.forEach((location) => { %> 
    <a href="/locations/<%= location.locations_id %>">
      <% include ../partials/single_location %>
    </a>
  <% }) %>
  
</div>
<% include ../partials/end %>