<% include ../partials/boilerplate %>
<div class="single-location">
  <h1>View location</h1>
  <% include ../partials/single_location %>
  <div class="location-link">
    <a class="list-link" href="/locations">Back to Locations List</a>
  </div>
</div>
<% include ../partials/end %>