<% include ../partials/boilerplate %>
<div class="bkgd">
  <form class="create-location" action="/locations" method="POST">
    <h3>Add Country</h3>
    <label>
      <textarea name="cname" rows="1" cols="20" placeholder="country"></textarea>
    </label>
    <button type="submit" name="button">Submit</button>
  </form>
</div>
<% include ../partials/end %>