<% include ../partials/boilerplate %>
<form class="create-location" action="/locations" method="post">
  <h2>New Country</h2>
  <label>
    <h3>Name</h3>
    <textarea name="cname" rows="2" cols="40"></textarea>
  </label>
  <!-- <label>
    <h3>Region</h3>
    <input type="text" name="author" value="">
  </label> -->
  <!-- <label>
      <h3>Flag</h3>
      <input type="text" name="Flag" value="">
  </label> -->
  <button type="submit">Submit</button>

</form>
<% include ../partials/end %>