<% include ../partials/boilerplate %>
<form class="create-location" action="/locations" method="post">
  <h2>New Country</h2>
  <label>
    <h3>Name</h3>
    <textarea name="content" rows="8" cols="80"></textarea>
  </label>
  <label>
    <h3>Area</h3>
    <input type="text" name="author" value="Area">
  </label>
  <label>
    <h3>Currency Name</h3>
    <input type="text" name="CurrencyName" value="">
  </label>
  <button type="submit">Submit</button>
</form>
<% include ../partials/end %>