<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Travel Bucket List</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
  </head>

  <body>
    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a> 
        <a href="/locations">
          <li>Countries</li>
        </a> 
        <a href="/favs">
          <li>Favorites</li>
        </a> 
        <a href="/locations/new">
          <li>Add</li>
        </a>
        <a href="/locations/1/edit">
          <li>Edit</li>
        </a>
      </ul>
    </nav>
    <main>