<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Locations App</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
  </head>
  <body>
    <nav>
      <ul>
        <a href="/">
          <li>Go Home</li>
        </a>
        <a href="/locations">
          <li>See all Locations</li>
        </a>
      </ul>
    </nav>
    <main>