<% include partials/boilerplate %>

<h1>TRAVEL BUCKET LIST</h1>

<!-- <a class="see-all-link" href="/locations"> See Countries List </a> -->
  
<button class="add-country">ADD A COUNTRY</button>

<% include partials/end %>