<% include partials/boilerplate %>

<h1 class="h1home">Travel Bucket List</h1>

<h3 class="intro">~Create your wish list of countries to visit~</h3>

<form action="/locations/new">
  <button class="add-location">ADD A COUNTRY</button>
</form>
<p class="quote">not all who wander are lost</p>

<% include partials/end %>