<% include ../partials/boilerplate %>
<div class="single-location">
  <h1>FAVORITE</h1>
  <% include ../partials/single_favorite %>
  <a class="list-link" href="/favs">Back to Favorites</a>
</div>
<% include ../partials/end %>