<% include ../partials/boilerplate %>
<h1>ALL FAVS</h1>
<div class="favs-list">

  <% favorites.forEach((favorite) => { %> 
  <a href="/favs/<%= favorite.locations_id %>">
    <% include ../partials/single_favorite %>
  </a>
  <% }) %>
  
</div>
<% include ../partials/end %>