<% include ../partials/boilerplate %>
<h1>FAVORITES</h1>
<div class="locations-list">

  <% favorites.forEach((favorite) => { %> 
    <a href="/favs/<%= favorite.locations_id %>">
      <% include ../partials/single_favorite %>
    </a>
  <% }) %>
  
</div>
<% include ../partials/end %>