html {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/71NxSfB0QiL._SX700_.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  text-align: center;
  font-family: 'Playfair Display';
  /* height: 100%; */
  /* width: 100%; */
}

body {
  font-size: 34px;
  margin: 0;
}

main {
  flex-direction: column;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 100vh;
}

h1 {
  color: #000;
  font-size: 5vw;
  background: #c6d4eb;
  padding: 25px;
  border-radius: 50%;
  border: 3px solid black;
  opacity: .8;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 16px;
}

.location-cname {
  font-style: italic;
}

.locations-list {
  /* min-width: 30%; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-top: 500px; */
}

.single-location {
  text-align: center;
}

.single-location .location-link {
  margin-top: 20px;
}

.location-container {
  border: solid 5px black;
  border-radius: 20px;
  color: black;
  background: white;
  padding: 10px 15px;
  text-align: center;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
  padding: 10px;
}

.see-all-link {
  background: white;
} 

a:hover {
  text-decoration: none;
  color: gray;
}

button {
  font-size: 30px;
  border-radius: 5%;
  border: 10px double black;
  padding: 10px;
  margin: 2px;
  background: #a5adce;
  font-family: 'Karla';
  opacity: 1;
}

button.delete {
  background: #f5aaaa;
  font-size: 10px;
  padding: 5px;
  margin-top: 0;
}

button.edit {
  background: #c2e6c2;
  font-size: 10px;
  padding: 5px;
}

button.add-country {
  margin-top: 40px;
}

button:hover {
  cursor: pointer;
  /* background: #4a526c; */
  /* color: #384dac; */
  box-shadow: 1px 5px 10px 5px #ccd1e1;
  opacity: .7;
}



.location-container:hover {
  background: #cdd3e1;
}

.list-link {
  font-size: 40px;
  color: #828d91;
}

.list-link:hover {
  color: #fff;
  text-decoration: underline;
}

nav {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  background: #151e2b;
  color: white;
  font-family: 'Karla';
  height: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

form.create-location {
  background: darkgray;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 15px 20px 15px #30314d;
  margin-top: 50px;
  opacity: .9;
}

form.create-location button {
  display: block;
  margin: 25px auto;
}

.location-container {
  background: linear-gradient(120deg, #b1c9bb 0%, #545692 100%);
  height: 400px;
  width: 400px;
}